body {
  width: 1280px;
}

.header-logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.header-logo a {
  text-decoration: none;
  color: #000000;
}

.header-logo-blue {
  color: #4bcaff;
}

.header-top-menu {
  font-family: "Roboto";
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #35444f;
  color: white;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 28px;
}
.header-top-menu .functional-programming:hover {
  background-color: #222f3a;
}
.functional-programming {
  width: 331px;
  text-align: center;
  border-left: 1px solid white;
  padding-top: 24px;
  padding-bottom: 18px;
}
.header-top-menu .ramda:hover {
  background-color: #222f3a;
}
.ramda {
  width: 150px;
  text-align: center;
  border-left: 1px solid white;
  padding-top: 24px;
  padding-bottom: 18px;
}
.header-top-menu .fantasy-land-spec:hover {
  background-color: #222f3a;
}
.fantasy-land-spec {
  width: 284px;
  text-align: center;
  border-left: 1px solid white;
  padding-top: 24px;
  padding-bottom: 18px;
}
.header-top-menu .nodejs-for-all:hover {
  background-color: #222f3a;
}
.nodejs-for-all {
  width: 221px;
  text-align: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-top: 24px;
  padding-bottom: 18px;
}
.aside-nav {
  display: flex;
  flex-direction: column;
  width: 344px;
  /* height: 399px; */
  margin-top: 49px;
  border: 1px solid black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
aside {
  width: 344px;
}
.aside-nav .aside-ramda:hover {
  background-color: #dbdbdb;
}
.aside-ramda {
  padding: 26px 194px 26px 40px;
}
.aside-nav .aside-ramda:hover {
  background-color: #dbdbdb;
}
.why-ramda {
  padding: 26px 0px 26px 40px;
}
.aside-nav .why-ramda:hover {
  background-color: #dbdbdb;
}
.whats-different {
  padding: 26px 0px 26px 40px;
}
.aside-nav .whats-different:hover {
  background-color: #dbdbdb;
}
.introduction {
  padding: 26px 0px 26px 40px;
}
.aside-nav .introduction:hover {
  background-color: #dbdbdb;
}
.philosophy {
  padding: 26px 0px 26px 40px;
}
.aside-nav .philosophy:hover {
  background-color: #dbdbdb;
}
.img-bg {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 883px;
  height: 529px;
  border: 1px solid black;
  margin: 49px 0px 37px 50px;
}

.ramda-logo img:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.ramda-logo {
  padding-top: 73px;
  padding-bottom: 75px;
  width: 320px;
  height: 381px;
}
.first-paragraph {
  margin: 37px 0px 34px 396px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.second-paragraph {
  margin: 37px 0px 34px 396px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.footer-bg {
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
}
.footer-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.footer-menu-item-ramda {
  padding-left: 40px;
  padding-top: 20px;
}
.footer-menu .footer-menu-item-ramda:hover {
  color: #3181a6;
  text-decoration: underline;
}
.footer-menu-item-why-ramda {
  padding-left: 30px;
  padding-top: 20px;
}
.footer-menu .footer-menu-item-why-ramda:hover {
  color: #3181a6;
  text-decoration: underline;
}
.footer-menu-item-whats-different {
  padding-left: 40px;
  padding-top: 20px;
}
.footer-menu .footer-menu-item-whats-different:hover {
  color: #3181a6;
  text-decoration: underline;
}
.footer-menu-item-introduction {
  padding-left: 40px;
  padding-top: 20px;
}
.footer-menu .footer-menu-item-introduction:hover {
  color: #3181a6;
  text-decoration: underline;
}
.footer-menu-item-philosophy {
  padding-left: 40px;
  padding-top: 20px;
}
.footer-menu .footer-menu-item-philosophy:hover {
  color: #3181a6;
  text-decoration: underline;
}
.footer-menu-item-copyright {
  padding-left: 65px;
  padding-top: 20px;
  font-size: 24px;
  line-height: 24px;
}
.footer-menu .footer-menu-item-copyright:hover {
  color: #3181a6;
  text-decoration: underline;
}
