body {
  background-color: #171717;
}

.sk-logo {
  margin-top: 46px;
  margin-left: 230px;
}
.callback-btn button {
  width: 218px;
  height: 50px;
  background-color: #171717;
  border: 1px solid #e4b564;
  color: #e4b564;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.callback-btn {
  float: right;
  margin-top: 32px;
  margin-right: 230px;
  text-align: center;
}
.callback-btn :hover {
  cursor: pointer;
}
.callback-btn img {
  margin-right: 10.5px;
}
.heat-nets-heading {
  margin-top: 128px;
  margin-left: 230px;
  color: #ffffff;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}
.heat-nets-paragraph {
  width: 1182px;
  display: inline-block;
  margin-left: 230px;
  margin-top: 41px;
  color: #ffffff;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.heat-nets-grid {
  display: grid;
  margin-left: 230px;
  margin-top: 41px;
  width: 1460px;
  height: 963px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  justify-content: center;
  column-gap: 34px;
  row-gap: 27px;
}
.heat-nets-grid div {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heat-nets-grid-first-item {
  background-color: #634f2c;
  color: #ffffff;
  grid-column: 2 span;
}
.heat-nets-grid-second-item {
  background-color: #b4a385;
  color: #ffffff;
  grid-column: 2 span;
}
.heat-nets-grid-third-item {
  background-color: #b4a385;
  color: #ffffff;
  grid-column: 2 span;
}
.heat-nets-grid-fourth-item {
  background-color: #b4a385;
  color: #ffffff;
  grid-column: 3 span;
}
.heat-nets-grid-fifth-item {
  background-color: #b08c4d;
  color: #ffffff;
  grid-column: 3 span;
}
.construction-cars-heading {
  width: 1460px;
  height: 28px;
  margin-left: 230px;
  margin-top: 161px;
  margin-bottom: 94px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.construction-cars-grid div {
  padding-top: 44px;
  padding-left: 52px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.construction-cars-grid span {
  font-weight: 700;
}

.construction-cars-grid {
  display: grid;
  width: 1460px;
  height: 860px;
  margin-left: 230px;
  grid-template-columns: repeat(3, 467px);
  grid-template-rows: repeat(7, 1fr);
  column-gap: 30px;
  row-gap: 24px;
}
.construction-cars-first {
  color: white;
  background-color: #0e0e0e;
  grid-row: span 3;
}
.construction-cars-second {
  color: white;
  background-color: #242424;
  grid-row: span 4;
}
.construction-cars-third {
  color: white;
  background-color: #242424;
  grid-row: span 2;
}
.construction-cars-fourth {
  color: white;
  background-color: #0e0e0e;
  grid-row: span 3;
}
.construction-cars-fifth {
  background-color: #1f1f1f;
  color: white;
  grid-row: span 6;
}
.construction-cars-sixth {
  background-color: #e4b564;

  grid-row: span 5;
}
.construction-cars-seventh {
  color: white;
  background-color: #0a0909;
  grid-row: span 4;
}
.customers-and-projects {
  margin-top: 363px;
}
.customer-and-projects-header {
  margin-left: 230px;
  width: 1460px;
}
.customer-and-projects-header button {
  float: right;
  width: 150px;
  height: 50px;
  background-color: #171717;
  border: 1px solid #e4b564;
  color: #ffffff;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.customers-and-projects-heading {
  display: inline-block;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.logos-wrapper {
  margin-left: 230px;
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 391px);
  height: 782px;
  width: 1460px;
  margin-bottom: 238px;
}
.logos-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.euroinvest {
  background-color: #634f2c;
  display: ;
}
.mavic {
  background-color: #e8d2abc2;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
.mavic span {
  font-weight: 600;
}
.arsenal {
  background-color: #e4b564;
}
.arsenal-copy {
  background-color: #635a4a;
}
.setgroup {
  background-color: #b08c4d;
}
.euroinvest-copy {
  background-color: #634f2c;
}
