body {
  width: 100%;
  height: 768px;
  background-image: url(../img/background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  width: 1030px;
  height: 100%;
  margin: 0 auto;
}

.logo-milan {
  display: inline-block;
}
.logo-milan div:hover {
  color: orange;
}
.logo-milan img:hover {
  fill: orange;
color: #f26522;
}
.logo-milan img {
  margin-top: 51px;
}
.logo-milan img:hover {
  fill: orange;
}
.logo-milan div {
  display: inline-block;
  height: 51px;
  text-transform: uppercase;
  padding-left: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: white;
}

.logo-milan span {
  font-size: 19px;
}

.header-contacts {
  width: 219px;
  margin-top: 46px;
  height: 61px;
  text-align: right;
  float: right;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.header-contacts .phone:hover {
  color: orange;
}
.header-contacts .mail:hover {
  color: orange;
}
.mail,
.phone {
  text-decoration: none;
  color: #ffffff;
}

.mail {
  max-width: 219px;
  height: 21px;
}

.phone {
  margin-top: 19px;
  text-decoration: none;
  color: #ffffff;
  height: 21px;
}
.tour-card {
}
.tour-card :hover .mini-button {
  top: 296px;
  visibility: visible;
  transition: 0.1s;
}
.mini-button {
  visibility: hidden;
  top: 351px;
  left: 383px;
  position: absolute;
  width: 300px;
  height: 55px;
  background-color: #f26522;
}
.mini-button :nth-child(1) {
  position: relative;
  left: -117px;
  top: -5px;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}
.mini-button :nth-child(2) {
  position: relative;
  left: -143px;
  top: 27px;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.mini-button :nth-child(3) {
  position: relative;
  left: -11px;
  top: 9px;
  padding-left: 180px;
  padding-bottom: 12px;
  font-family: "Roboto";
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.mini-button :nth-child(3)::after {
  content: url(../img/Vector\ 1.svg);
  padding-left: 16px;
}
.card-heading {
  text-decoration: none;
  width: 140px;
  height: 21px;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

main {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1030px;
  height: 560px;
}
main > div {
  width: 300px;
  text-align: center;
}
footer > div {
  width: 306px;
  height: 21px;

  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
footer {
  display: flex;
  justify-content: center;
  width: 1030px;
  margin-top: 49px;
}
