body {
  background-image: url(../img/Фон\ 1.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
header {
  width: 100vw;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.4);
}
a {
  text-decoration: none;
}
.header-logo {
  margin-left: 79px;
  margin-top: 24.5px;
  align-self: center;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}
.header-logo:hover {
  transition: 0.2s;
  color: #3cb878;
}
.right-side-header {
  display: flex;
  float: right;
  width: 32%;
  margin-top: 18px;
  justify-content: center;
}
.welcome-login {
  margin-left: 27px;
  margin-top: 5px;
  width: 173px;
  float: right;
  margin-right: 79px;
  display: inline-block;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.welcome-login a {
  text-decoration: none;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.calendar {
  margin-right: 27px;
}
.calendar:hover path {
  fill: #3cb878;
  transition: 0.2s;
}
.mail {
  margin-right: 27px;
}
.mail:hover path {
  fill: #3cb878;
  transition: 0.2s;
}
.compass:hover path {
  fill: #3cb878;
  transition: 0.2s;
}
.split-line {
  margin-left: 27px;
  fill-opacity: 0.9;
}
.split-line:hover rect {
  fill-opacity: 0.1;
  transition: 0.2s;
}

a.login-header:hover {
  color: #3cb878;
  transition: 0.2s;
}
a.sing-up-header:hover {
  color: #3cb878;
  transition: 0.2s;
}
.form-bg {
  margin-top: 54px;
  width: 444px;
  height: 620px;
  background-color: #fff;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin-left: 60px;
  margin-right: 60px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  height: 49px;
}
.form-heading {
  display: inline-block;
  margin-top: 31px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.form-login {
  float: right;
  margin-top: 33px;
  display: inline-block;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.form-login:hover {
  color: #01813f;
  transition: 0.2s;
  text-decoration: underline;
}
a.fb-link {
  width: 20px;
  height: 20px;
}
.fb-link {
  text-decoration: none;
}
a.fb-link {
  display: block;
  width: 160px;
  height: 48px;
}
.form-login-link {
  text-decoration: none;
}
.facebook-btn {
  text-decoration: none;
  display: flex;
  border-radius: 5px;
  margin-top: 15px;
  align-items: center;
  width: 160px;
  height: 48px;
  background-color: #305db8;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.facebook-btn:hover {
  background-color: #022263;
  transition: 0.2s;
}
.fb-logo {
  margin-left: 17px;
  margin-right: 18px;
}
.btn-title {
  margin-left: 17px;

  text-decoration: none;
}
.google-btn {
  /* position: relative;
    left: 164px;
    top: -48px; */
  margin-top: 15px;
  margin-left: 5px;
  text-decoration: none;
  display: flex;
  border-radius: 5px;
  align-items: center;
  width: 160px;
  height: 48px;
  background-color: #df4a32;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.google-btn:hover {
  background-color: #ab1f09;
  transition: 0.2s;
}
.g-logo {
  margin-left: 17px;
  margin-right: 18px;
}
.g-btn-title {
  margin-left: 17px;
}
.break-line {
  margin-left: 5px;
  display: flex;
  align-items: center;
  margin-top: 31px;
}
.break-line-text {
  margin-left: 2px;
  margin-right: 2px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.inputs {
  margin-top: 11.96px;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.inputs > input {
  padding-left: 20px;
  margin-bottom: 16px;
  height: 44px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
}
input::placeholder {
  color: #bebebe;
}
.inputs > input:focus {
  transition: 0.2s;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.green-underline {
  text-decoration: none;
  color: #3cb878;
}
.checkbox-block {
  position: relative;
  margin-top: 12px;
  width: 324px;
  height: 20px;
}
.checkbox-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox_label {
  display: inline-block;
  padding-top: 5px;
  padding-left: 28px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.checkbox_label:hover a {
  color: #01813f;
  text-decoration: underline;
  transition: 0.2s;
}
.checkbox_label::before {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.checkbox_label::after {
  content: " ";
  display: block;
  margin-left: 1px;
  margin-top: 1px;
  width: 20px;
  height: 20px;
  background: url(../img/check.svg) no-repeat;
  background-size: 20px 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.checkbox-input:checked + .checkbox_label:after {
  opacity: 1;
  transition: 0.2s;
}
.create-account {
  margin-top: 20px;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.create-account:active {
  background-color: #01813f;
}
.green_box {
  position: relative;
  top: -542px;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}
